* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    background-color: whitesmoke;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:white;
    font-weight: lighter;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

p, li {
    font-size: 18px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

/* [aboutme.html] paragraph */
.paragraph {
    margin: 55px;
}

/* [index.html] main banner */
.main-banner {
    position: static;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgb(124, 4, 50);
    width: 100%;
}

/* [index.html] logo at the top */
.main-logo {
    width: 90px; 
    height: auto;
    margin-top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* [all pages] horizontal menu bar */
.menu {
    display: inline-block;
    padding: 15px;
}

.menu > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* [all pages] footer. */
.footer {
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* [index.html] Figures. */
.fig {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

/* [index.html] A container for map tables. */
.table-container {
    width: 80%; 
    margin-top:30px; 
    overflow-x: auto;
}

/* [index.html] Map tables. */
.table-format {
    width: fit-content;
    border-collapse: collapse;
}

th {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.th-1 {
    border-right: 1px solid white;
}

td {
    background-color: white;
    border: 1px solid rgb(156, 156, 156);
}

/* Automatic resizing of the website elements. */
@media only screen and (max-width: 1024px) {
    .table-container {
        width: 100%;
    }
}

@media only screen and (max-width: 443px) {
    h1 {
        font-size: medium;
    }

    .menu {
        padding: 6px;
    }

    .table-format {
        width: 100%;
    }
}